<section class="controller section hidden" id="controller">
  <div class="container container--small">
    <h2 class="controller__title title">
      DualSense
    </h2>
    <div class="controller__inner">
      <div class="controller__content">
        <div class="controller__text">
          <p>
            You can also buy an exclusive controller with the
            <span class="accent">God of War Ragnarok</span>
            theme for PS5
          </p>
          <p>
            If you purchase a controller and a game (any edition), you will receive a
            <span class="orange">15%</span>
            discount on two items.
          </p>
        </div>
        <div class="controller__info">
          <span class="controller__price">35.99$</span>
          <button class="controller__btn btn buy-button" type="button" data-value="3">
            buy dualsense with a game
          </button>
        </div>
      </div>

      <div class="controller__image">
        <img src="images/controller.png" alt="Controller DualSense">
      </div>
    </div>
  </div>
</section>