<section class="editions section hidden" id="editions">
  <div class="container">
    <h2 class="editions__title title">
      Editions
    </h2>
    <ul class="editions__items">
      <li class="editions__item">
        <article class="edition">
          <img class="edition__img" src="images/editions/1.jpg" alt="Atreus and Kratos" width="316" height="172">
          <h3 class="edition__title">
            Standard Edition
            <span class="edition__subtitle">PS5</span>
          </h3>
          <ul class="edition__list">
            <li class="edition__item">
              <p class="edition__text">
                Offline play enabled
              </p>
            </li>
            <li class="edition__item">
              <p class="edition__text">
                Remote Play supported
              </p>
            </li>
            <li class="edition__item">
              <p class="edition__text">
                Trigger effect required
              </p>
            </li>
          </ul>
          <p class="edition__price">19.99$</p>
          <button class="edition__btn btn buy-button" type="button" data-value="0">
            buy NOW
          </button>
        </article>
      </li>
      <li class="editions__item">
        <article class="edition">
          <img class="edition__img" src="images/editions/2.jpg" alt="Atreus and Kratos" width="316" height="172">
          <h3 class="edition__title">
            Standard Edition
            <span class="edition__subtitle">PS4</span>
          </h3>
          <ul class="edition__list">
            <li class="edition__item">
              <p class="edition__text">
                Offline play enabled
              </p>
            </li>
            <li class="edition__item">
              <p class="edition__text">
                Remote Play supported
              </p>
            </li>
            <li class="edition__item">
              <p class="edition__text">
                Trigger effect required
              </p>
            </li>
          </ul>
          <p class="edition__price">18.99$</p>
          <button class="edition__btn btn buy-button" type="button" data-value="1">
            buy NOW
          </button>
        </article>
      </li>
      <li class="editions__item">
        <article class="edition">
          <img class="edition__img" src="images/editions/3.jpg" alt="Atreus and Kratos fight" width="316" height="172">
          <h3 class="edition__title">
            Digital Deluxe Edition
            <span class="edition__subtitle">PS5</span>
          </h3>
          <ul class="edition__list">
            <li class="edition__item">
              <p class="edition__text">
                All features of Standard Edition
              </p>
            </li>
            <li class="edition__item">
              <p class="edition__text">
                Darkdale Armour
              </p>
            </li>
            <li class="edition__item">
              <p class="edition__text">
                Official digital soundtrack
              </p>
            </li>
          </ul>
          <p class="edition__price">29.99$</p>
          <button class="edition__btn btn buy-button" type="button" data-value="2">
            buy NOW
          </button>
        </article>
      </li>
    </ul>
  </div>
</section>