<section class="explore section hidden" id="explore">
  <div class="container">
    <h2 class="explore__title title">
      Explore the God of War series
    </h2>
    <div class="explore__content">
      <h3 class="explore__subtitle">
        Here are the God of War (PC) System Requirements
      </h3>
      <div class="explore__switch">
        <span class="explore__switch-text system-req current">Minimum</span>
        <label class="explore__label">
          <input class="explore__input sr-only" id="systemReqCheck" name="switch" type="checkbox">
          <span class="explore__checkbox"></span>
        </label>
        <span class="explore__switch-text system-req">Recommended</span>
      </div>
      <div class="explore__box">
        <div class="explore__img explore__img--atreus">
          <img src="images/explore/atreus.png" alt="Atreus">
        </div>
        <div class="explore__box-content">
          <ul class="explore__list system-req current">
            <li class="explore__item">
              <span>CPU</span>: Intel i5-2500k (4 core 3.3 GHz) or AMD Ryzen 3 1200 (4 core 3.1 GHz)
            </li>
            <li class="explore__item">
              <span>RAM</span>: 8 GB
            </li>
            <li class="explore__item">
              <span>OS</span>: Windows 10 64-bit
            </li>
            <li class="explore__item">
              <span>VIDEOCARD</span>: NVIDIA GTX 960 (4 GB) or AMD R9 290X (4 GB)
            </li>
            <li class="explore__item">
              <span>PIXEL SHADER</span>: 5.1
            </li>
            <li class="explore__item">
              <span>VERTEX SHADER</span>: 5.1
            </li>
            <li class="explore__item">
              <span>FREE DISK SPACE</span>: 70 GB
            </li>
            <li class="explore__item">
              <span>DEDICATED VIDEO RAM</span>: 4 GB
            </li>
          </ul>
          <ul class="explore__list system-req">
            <li class="explore__item">
              <span>CPU</span>: Intel i7-7700k (4 core 4.2 GHz) or AMD Ryzen 7 3700x (8 core 3.6 GHz)
            </li>
            <li class="explore__item">
              <span>RAM</span>: 16 GB DDR
            </li>
            <li class="explore__item">
              <span>OS</span>: Windows 10 64-bit
            </li>
            <li class="explore__item">
              <span>VIDEOCARD</span>: NVIDIA RTX 2070 (8GB) or
              AMD RX 5700 XT (8GB)
            </li>
            <li class="explore__item">
              <span>PIXEL SHADER</span>: 5.1
            </li>
            <li class="explore__item">
              <span>VERTEX SHADER</span>: 5.1
            </li>
            <li class="explore__item">
              <span>FREE DISK SPACE</span>: 70 GB SSD
            </li>
            <li class="explore__item">
              <span>DEDICATED VIDEO RAM</span>: 8 GB
            </li>
          </ul>
          <button class="explore__box-btn btn buy-button" type="button" data-value="0">
            buy NOW
          </button>
        </div>
      </div>
    </div>

    <div class="explore__content">
      <h3 class="explore__subtitle">
        God of War for PS4
      </h3>
      <div class="explore__switch">
        <span class="explore__switch-text ragnarok current">Standard</span>
        <label class="explore__label">
          <input class="explore__input sr-only" id="ragnarokCheck" name="switch" type="checkbox">
          <span class="explore__checkbox"></span>
        </label>
        <span class="explore__switch-text ragnarok">Limited</span>
      </div>
      <p class="explore__content-price">15.99$</p>
      <div class="explore__box">
        <div class="explore__box-content">
          <ul class="explore__list ragnarok current">
            <li class="explore__item">
              <span>Platform</span>: PS4
            </li>
            <li class="explore__item">
              <span>Premiere</span>: 20.4.2018
            </li>
            <li class="explore__item">
              <span>Publisher</span>: Sony Interactive Entertainment Europe
            </li>
            <li class="explore__item">
              <span>Species</span>: Action, Adventure
            </li>
            <li class="explore__item">
              <span>Voice</span>: English
            </li>
            <li class="explore__item">
              <span>Display languages</span>: English
            </li>
          </ul>
          <ul class="explore__list ragnarok">
            <li class="explore__item">
              <span>Platform</span>: PS4, PS5
            </li>
            <li class="explore__item">
              <span>Premiere</span>: 20.4.2018
            </li>
            <li class="explore__item">
              <span>Publisher</span>: Sony Interactive Entertainment Europe
            </li>
            <li class="explore__item">
              <span>Species</span>: Action, Adventure
            </li>
            <li class="explore__item">
              <span>Voice</span>: English, Polish, Dutch
            </li>
            <li class="explore__item">
              <span>Display languages</span>: English, Dutch, Polish, Turkish
            </li>
          </ul>
          <button class="explore__box-btn btn buy-button" type="button" data-value="0">
            buy NOW
          </button>
        </div>
        <div class="explore__img explore__img--kratos">
          <img src="images/explore/kratos.png" alt="Kratos">
        </div>
      </div>
    </div>
  </div>
</section>