<section class="faq section hidden" id="faq">
  <div class="container container--small">
    <h2 class="faq__title title">
      FAQ
    </h2>
    <div class="faq__items">
      <div class="faq__item">
        <div class="faq__item-top">
          <h3 class="faq__item-title">
            When is the next God of War coming out?
          </h3>
          <span class="faq__btn">
            <svg class="faq__icon" width="12" height="12">
              <use href="images/sprite.svg#plus"></use>
            </svg>
          </span>
        </div>
        <p class="faq__item-content">
          God of War Ragnarök will release on <span class="orange">November 9, 2022</span>. To get the latest updates on
          release timing, make sure
          you follow
          Santa Monica Studio on Twitter, Instagram and Facebook!
        </p>
      </div>
      <div class="faq__item">
        <div class="faq__item-top">
          <h3 class="faq__item-title">
            Will God of War Ragnarök have an upgrade path?
          </h3>
          <span class="faq__btn">
            <svg class="faq__icon" width="12" height="12">
              <use href="images/sprite.svg#plus"></use>
            </svg>
          </span>
        </div>
        <p class="faq__item-content">
          Yes, <span class="orange">God of War Ragnarök</span> will offer a digital upgrade* option from a disc or
          digital PS4 game to the digital
          PS5 version
          for an additional cost.
        </p>
      </div>
    </div>
  </div>
</section>