<footer class="footer" style="background-image: url('images/footer-bg.png');">
  <div class="container container--small">
    <ul class="footer__menu">
      <li class="footer__menu-item">
        <a class="menu__link" href="#editions">editions</a>
      </li>
      <li class="footer__menu-item">
        <a class="menu__link" href="#controller">controller</a>
      </li>
      <li class="footer__menu-item">
        <a class="menu__link" href="#about">ABOUT GAME</a>
      </li>
      <li class="footer__menu-item">
        <a class="menu__link" href="#explore">Explore</a>
      </li>
      <li class="footer__menu-item">
        <a class="menu__link" href="#news">news</a>
      </li>
      <li class="footer__menu-item">
        <a class="menu__link" href="#faq">FAQ</a>
      </li>
    </ul>
    <div class="footer__content">
      <p class="footer__text">
        Download of this product is subject to the PlayStation Network Terms of Service and our Software Usage Terms
        plus
        any
        specific additional conditions applying to this product. If you do not wish to accept these terms, do not
        download
        this
        product. See Terms of Service for more important information.
      </p>
      <img class="footer__img" src="images/ps.png" alt="ps" width="46" height="35">
      <p class="footer__year">2023</p>
      <p class="footer__copy">
        Developed by <a class="accent" href="https://github.com/maksimkedys">MaksimKedys</a>. All rights reserved
      </p>
    </div>
  </div>
</footer>