<header class="header">
  <div class="container header__inner">
    <nav class="menu">
      <button class="burger" type="button">
        <span class="burger__line"></span>
        <span class="sr-only">Open menu</span>
      </button>
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="#editions">editions</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#controller">controller</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#about">ABOUT GAME</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#explore">Explore</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#news">news</a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="#faq">FAQ</a>
        </li>
      </ul>
    </nav>
    <div class="header__timer">
      <span class="header__timer-info">Realease:</span>
      <ul class="header__timer-content">
        <li class="header__timer-item">
          <span class="header__timer-num" id="days">0</span>
          <span class="header__timer-text">D</span>
        </li>
        <li class="header__timer-item">
          <span class="header__timer-num" id="hours">0</span>
          <span class="header__timer-text">H</span>
        </li>
        <li class="header__timer-item">
          <span class="header__timer-num" id="minutes">0</span>
          <span class="header__timer-text">M</span>
        </li>
        <li class="header__timer-item">
          <span class="header__timer-num" id="seconds">0</span>
          <span class="header__timer-text">S</span>
        </li>
      </ul>
    </div>
  </div>
</header>