<section class="hero" style="background-image: url('images/hero-bg.jpg');">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">God of War Ragnarök</h1>
      <p class="hero__text">
        Taking place three years following the events of the previous game, Fimbulwinter, a great winter that spans
        three
        summers, is drawing to a close which will begin the prophesied Ragnarök.
      </p>
      <button class="btn btn--big buy-button" data-value="0">
        buy NOW
      </button>
    </div>
  </div>
</section>