<section class="news section hidden" id="news">
  <h2 class="news__title title">News</h2>
  <div class="news__swiper swiper">
    <ul class="news__list swiper-wrapper">
      <li class="news__item swiper-slide news-slide">
        <div class="news-slide__top">
          <div class="news-slide__top-box">
            <p class="news-slide__subtitle">
              God of War Ragnarok
            </p>
            <h3 class="news-slide__title">
              will receive a large update on release
            </h3>
          </div>
          <span class="news-slide__date">19/10/2022</span>
        </div>
        <div class="news-slide__content">
          <img class="news-slide__img" src="images/news/1.jpg" alt="Kratos and Atreus" width="280" height="250">
          <div class="news-slide__box">
            <p class="news-slide__text">
              God of War: Ragnarok is fast approaching.
              No wonder that we have been regularly receiving new information and materials related to the title in
              recent times.
              Last week, a trailer presenting the possibilities of the game on PlayStation 5
              hit the network , and a little earlier we learned that the work on the production was completed .
              Meanwhile, it turns
              out that the upcoming sequel to the adventures of Kratos and Atreus will receive a major update on
              release.
            </p>
            <button class="news-slide__btn btn" type="button">
              read
            </button>
          </div>
        </div>
      </li>
      <li class="news__item swiper-slide news-slide">
        <div class="news-slide__top">
          <div class="news-slide__top-box">
            <p class="news-slide__subtitle">
              God of War Ragnarok
            </p>
            <h3 class="news-slide__title">
              is officially one of the largest PS4 games by size
            </h3>
          </div>
          <span class="news-slide__date">19/10/2022</span>
        </div>
        <div class="news-slide__content">
          <img class="news-slide__img" src="images/news/2.jpg" alt="a man with a beard" width="280" height="250">
          <div class="news-slide__box">
            <p class="news-slide__text">
              Digital distribution enthusiasts need to get ready for tons of downloads. The second adventure of Kratos
              and Atreus in
              the High North from the premiere will occupy nearly 120GB - when deciding to buy a title from PlayStation
              Store, it is
              worth planning your download wisely to start the game on the day of the premiere.
            </p>
            <button class="news-slide__btn btn" type="button">
              read
            </button>
          </div>
        </div>
      </li>
      <li class="news__item swiper-slide news-slide">
        <div class="news-slide__top">
          <div class="news-slide__top-box">
            <p class="news-slide__subtitle">
              God of War Ragnarok
            </p>
            <h3 class="news-slide__title">
              is the final chapter in an epic story. See the new video
            </h3>
          </div>
          <span class="news-slide__date">19/10/2022</span>
        </div>
        <div class="news-slide__content">
          <img class="news-slide__img" src="images/news/3.jpg" alt="Kratos saving the child" width="280" height="250">
          <div class="news-slide__box">
            <p class="news-slide__text">
              Familiar characters will return to the game, but also completely new ones. We are talking here about Thor,
              presented as
              a brutal and mentally unstable performer of "dirty work" in the services of Odin , as well as the ruler of
              the gods
              himself, who left his mark on the events of the previous installment, although he did not appear in it
              personally.
            </p>
            <button class="news-slide__btn btn" type="button">
              read
            </button>
          </div>
        </div>
      </li>
      <li class="news__item swiper-slide news-slide">
        <div class="news-slide__top">
          <div class="news-slide__top-box">
            <p class="news-slide__subtitle">
              God of War Ragnarok
            </p>
            <h3 class="news-slide__title">
              will receive a large update on release
            </h3>
          </div>
          <span class="news-slide__date">19/10/2022</span>
        </div>
        <div class="news-slide__content">
          <img class="news-slide__img" src="images/news/1.jpg" alt="Kratos and Atreus" width="280" height="250">
          <div class="news-slide__box">
            <p class="news-slide__text">
              God of War: Ragnarok is fast approaching.
              No wonder that we have been regularly receiving new information and materials related to the title in
              recent times.
              Last week, a trailer presenting the possibilities of the game on PlayStation 5
              hit the network , and a little earlier we learned that the work on the production was completed .
              Meanwhile, it turns
              out that the upcoming sequel to the adventures of Kratos and Atreus will receive a major update on
              release.
            </p>
            <button class="news-slide__btn btn" type="button">
              read
            </button>
          </div>
        </div>
      </li>
      <li class="news__item swiper-slide news-slide">
        <div class="news-slide__top">
          <div class="news-slide__top-box">
            <p class="news-slide__subtitle">
              God of War Ragnarok
            </p>
            <h3 class="news-slide__title">
              is officially one of the largest PS4 games by size
            </h3>
          </div>
          <span class="news-slide__date">19/10/2022</span>
        </div>
        <div class="news-slide__content">
          <img class="news-slide__img" src="images/news/2.jpg" alt="a man with a beard" width="280" height="250">
          <div class="news-slide__box">
            <p class="news-slide__text">
              Digital distribution enthusiasts need to get ready for tons of downloads. The second adventure of Kratos
              and Atreus in
              the High North from the premiere will occupy nearly 120GB - when deciding to buy a title from PlayStation
              Store, it is
              worth planning your download wisely to start the game on the day of the premiere.
            </p>
            <button class="news-slide__btn btn" type="button">
              read
            </button>
          </div>
        </div>
      </li>
      <li class="news__item swiper-slide news-slide">
        <div class="news-slide__top">
          <div class="news-slide__top-box">
            <p class="news-slide__subtitle">
              God of War Ragnarok
            </p>
            <h3 class="news-slide__title">
              is the final chapter in an epic story. See the new video
            </h3>
          </div>
          <span class="news-slide__date">19/10/2022</span>
        </div>
        <div class="news-slide__content">
          <img class="news-slide__img" src="images/news/3.jpg" alt="Kratos saving the child" width="280" height="250">
          <div class="news-slide__box">
            <p class="news-slide__text">
              Familiar characters will return to the game, but also completely new ones. We are talking here about Thor,
              presented as
              a brutal and mentally unstable performer of "dirty work" in the services of Odin , as well as the ruler of
              the gods
              himself, who left his mark on the events of the previous installment, although he did not appear in it
              personally.
            </p>
            <button class="news-slide__btn btn" type="button">
              read
            </button>
          </div>
        </div>
      </li>
    </ul>
    <div class="news__arrows">
      <div class="news__swiper-prev news__swiper-arrow">
        <svg class="news__swiper-icon" width="16" height="16">
          <use href="images/sprite.svg#arrow-prev"></use>
        </svg>
      </div>
      <div class="news__swiper-next news__swiper-arrow">
        <svg class="news__swiper-icon" width="16" height="16">
          <use href="images/sprite.svg#arrow-next"></use>
        </svg>
      </div>
    </div>
  </div>
</section>